/*
Comentários 
*/
* {
    margin: 0;
}
h1 {
    color: blue;
    font-size: 60px;
    background: gray;
}



/*
POSIÇÕES / CÁLCULOS / FUNÇÕES rgb() hsl() url() calc()
*/
.box {
   height: 300px;
   /*
   ou 
   body {
    height: 100vh;
   }
   height: calc(50%% + 20px)
   */
   width: 400px;
   background-image: url(http://source.unsplash.com/random);
   background-repeat: no-repeat;
   background-position: center;
   /*
    background-position: bottom right;
   */
}